pre {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  font-family: "Jetbrains Mono";
  font-size: 85%;
  tab-size: 2;
  padding: 34px 16px 32px 32px;
  min-height: 1em;
  color: rgb(55, 53, 47);
  white-space: pre;
  border: 1px solid var(--separator);
  border-radius: 6px;

  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

code:not(pre > *) {
  font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono",
    Courier, monospace;
  line-height: normal;
  background: rgba(135, 131, 120, 0.15);
  color: #ff6347;
  border-radius: 3px;
  font-size: 85%;
  padding: 0.2em 0.4em;
  margin-top: 1px;
  margin-bottom: 1px;
}

blockquote {
  display: flex;
  width: 100%;
  border-radius: 3px;
  background: rgb(241, 241, 239);
  padding: 16px 16px 16px 12px;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@import url("https://dev-cats.github.io/code-snippets/JetBrainsMono.css");
* {
  font-family: JetBrains Mono, Pretendard, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", sans-serif;
}
