pre {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  font-family: SFMono-Regular, Menlo, Consolas, "PT Mono", "Liberation Mono",
    Courier, monospace;
  font-size: 85%;
  tab-size: 2;
  padding: 34px 16px 32px 32px;
  min-height: 1em;
  color: rgb(55, 53, 47);
  white-space: pre;
  border: 1px solid var(--separator);
  border-radius: 6px;
}

code:not(pre > *) {
  font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono",
    Courier, monospace;
  line-height: normal;
  background: rgba(135, 131, 120, 0.15);
  color: #ff6347;
  border-radius: 3px;
  font-size: 85%;
  padding: 0.2em 0.4em;
  margin-top: 1px;
  margin-bottom: 1px;
}

blockquote {
  display: flex;
  width: 100%;
  border-radius: 3px;
  background: rgb(241, 241, 239);
  padding: 16px 16px 16px 12px;
}
